<div id="<%= dom_id place %>">
  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>

  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= place.user.email %>
  </p>

</div>
