<p style="color: green"><%= notice %></p>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.cntraveller.com/photos/64624a3b26c5568e6cd76d8a/4:3/w_2664,h_1998,c_limit/lisbon-GettyImages-1401359847.jpg)">
<%= @place. city %>
</div>


<h2 class = "mt-3"><%= @place. city %></h2>
<p><%= @place.description %></p>



<div>
  <%= link_to "Edit this place", edit_place_path(@place) %> |
  <%= link_to "Back to places", places_path %>

  <%= button_to "Destroy this place", @place, method: :delete %>
</div>
