<p style="color: green"><%= notice %></p>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @place.photo.key %>')">
<%= @place.city %>
</div>



<h2 class="mt-3"><%= @place.city %></h2>
<strong>Description:</strong><p><%= @place.description %></p>
<p><strong>Address:</strong><%= @place.address %></p>
<p><strong>Overall Rating:</strong> <%= @average_rating.nil? ? "No ratings yet" : "%.2f" % @average_rating %><%= "â­"* @average_rating.round %></p>

<h4>Rate this place:</h4>
<%= form_with(model: [@place, @experience], url: create_experience_place_path(@place), local: true) do |form| %>
  <div class="field my-2">
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
    <%= form.hidden_field :place_id, value: @place.id %>
  </div>
 <%= form.submit 'Submit Rating' %>
<% end %>




<div class="mb-5">
  <%= link_to "Edit this place", edit_place_path(@place) %> |
  <%= link_to "Back to places", places_path %>
</div>
